.WhiteNoise {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 6px;

	&:not(:last-child) {
		margin-bottom: 12px;
	}

	&__name {
		font-size: 14px;
		font-weight: normal;
		color: var(--clr-artis);
		user-select: none;
	}

	&__volume {
		position: relative;
		display: flex;
		align-items: center;

		&__loaded {
			position: absolute;
			width: 0%;
			height: 4px;
			background-color: var(--clr-volume--load);
			transition: background-color 0.3s ease;
			border-radius: 100px;
			pointer-events: none;
			user-select: none;
		}
	}
}
