.Taskbar {
	position: absolute;
	right: var(--topLayer-padding);
	top: 50%;
	transform: translateY(-50%);
	backdrop-filter: blur(12px);
	box-shadow: 0 0 4px black;
	border-radius: 16px;
	animation: openWindows 0.3s ease-out 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 60px;
	padding: 6px 6px 6px 3px;

	&__button {
		position: relative;
		outline: none;
		transition: 0.3s ease;

		&.active::before {
			content: "";
			position: absolute;
			width: 5px;
			aspect-ratio: 1/1;
			border-radius: 50%;
			background-color: var(--clr-primary);
			transition: 0.3s ease;
			top: 50%;
			right: -3px;
			transform: translateY(-50%);
		}

		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}

	&__icon {
		display: block;
		width: 48px;
		aspect-ratio: 1/1;
	}
}
