.WSettings {
	position: absolute;
	top: 80px;
	left: 720px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgb(0 0 0) 0px 0px 12px;
	backdrop-filter: blur(12px);
	width: 480px;
	height: 420px;
	animation: openWindows 0.3s ease-out 1;

	display: flex;
	align-items: center;
	justify-content: center;

	&__sidebar {
		width: 36%;
		height: 100%;
		padding: 6px 12px;
		transition: 0.3s ease;
		background-color: var(--clr-background);

		&__settings {
			margin-top: 32px;
			display: flex;
			flex-direction: column;
			gap: 12px;

			&__item {
				display: flex;
				align-items: center;
				gap: 8px;
				border-radius: 6px;
				backdrop-filter: blur(0px);
				padding: 8px 6px;
				user-select: none;
				cursor: pointer;

				&.active {
					backdrop-filter: blur(1px);
				}
			}

			&__icon {
				font-size: 16px;
				color: var(--clr-song);
			}

			&__name {
				font-size: 13.5px;
				color: var(--clr-song);
			}
		}
	}

	&__right {
		background-color: var(--clr-background-strong);
		transition: 0.3s ease;
		flex: 1;
		height: 100%;
		padding: 16px 32px;

		&__heading {
			color: var(--clr-song);
			transition: 0.3s ease;
			font-size: 16px;
			font-weight: normal;
			user-select: none;
			-webkit-user-drag: none;
			-khtml-user-drag: none;
			-moz-user-drag: none;
			-o-user-drag: none;
		}

		&__content {
			margin-top: 16px;
			max-height: 352px;
			overflow: hidden scroll;

			&::-webkit-scrollbar {
				width: 0px;
			}
		}
	}
}
